<div class="table">
    <h1>Tarefas</h1>
    <div class="bt-create">
        <a routerLink="tarefa/criar" class="mat-elevation-z8">Criar Tarefa</a>
    </div>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="tarefas">
  
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="titulo">
        <th mat-header-cell *matHeaderCellDef> Título </th>
        <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef> Descrição </th>
        <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
      </ng-container>
  
       <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let element"> 
          <a routerLink="tarefa/editar/{{element.id}}">
            <i style="color: black;" class="material-icons">edit</i>
          </a>  
         <button style="border: 0; background-color: transparent; cursor: pointer;" (click)="deletar(element.id)">
            <i class="material-icons">delete</i>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    </div>
</div>
